.news-container {
    text-align: center;
    margin-top: 2rem;
}

.vibes-img {
    height: 400px;
    width: 400px;
}

#su-btn {
    border-radius: 10px;
    color: white;
    width: 5rem;
    padding: 0.5rem;
}

label {
    margin-left: 1rem;
}

