.logo-img {
  width: 167px;
  height: 130px;
  margin-top: -1.2rem;
  margin-left: -1rem;
}

.nav {
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li:hover {
  border-bottom: solid 1px #ee6023;
  padding: 0.3rem;
}
